.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    margin-top: 10vh;
}

.name-color {
    border-bottom: 1px solid #36FEAD;
    cursor: pointer;
    display: inline-block;
    transition: transform 200ms linear;
}
.name-color:hover {
    transform: translateY(-5px);
}

.main-description {
    display: flex;
    flex-direction: row;
    justify-content: left;
    width: 100%;
}

.description-text {
    display: flex;
    justify-content: left;
    text-align: left;
    width: 100%;
    margin-inline: 10%;
    cursor: default;
}

.description-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 10%;
}

.github-image { 
    width: 5rem;
    height: 5rem;
}
/*
    For future reference... filters on SVGs done through this website 
    https: //isotropic.co/tool/hex-color-to-css-filter/
*/
/* .github-Image:hover {
    filter: invert(26%) sepia(75%) saturate(6948%) hue-rotate(272deg) brightness(106%) contrast(101%);
} */

.buttons-social {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    border: none;
    /* background: linear-gradient(90deg, #1F51FF, #B026FF, #1F51FF); */
    background: linear-gradient(90deg, #1F51FF,#36FEAD, #1F51FF);
    width: 6.5rem;
    height: 6.5rem;
    cursor: pointer;
    background-size: 200%;
    transition: background-position 400ms ease;
    border-radius: 5%;
}

.buttons-social:hover {
    background-position: 100%;
}

.linkedin-image {
    width: 4rem;
    height: 4rem;
}

@media only screen and (max-width: 768px) {
    .main-description {
        flex-direction: column;
    }

    .description-text {
        margin-inline: auto;
        text-align: center;
        justify-content: center;
        width: 80%;
    }
}