.Container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
}

.Main-description {
    display: flex;
    flex-direction: row;
    justify-content: left;
    width: 100%;
}

.Description-text {
    display: flex;
    justify-content: left;
    text-align: left;
    width: 100%;
    margin-inline: 10%;
    cursor: default;
}

.Description-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 10%;
}

.Buttons-Main {
    background-color: black;
    color: white;
    border: none;
    width: 20%;
    height: 20%;
}