.App {
  text-align: center;
}

.App-shape {
  height: 10vmin;
  width: 10vmin;
  background-color: #C7383C;
  transition: transform 1s linear;
}

.App-shape:hover {
  transform: rotate(360deg) translateX(100px);

}


.App-header {
  background-color: #282D3F;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding-top: 5vmin;
}

.App-link {
  color: #61dafb;
}

div.clickEffect {
  position: fixed;
  box-sizing: border-box;
  border-style: solid;
  border-color: #0ECEFF;
  border-radius: 50%;
  animation: clickFX 0.5s linear;
  z-index: 999;
}

@keyframes clickFX {
  0% {
    opacity: 1;
    width: 0.5em; height: 0.5em;
    margin: -0.25em;
    border-width: 0.2em;
  }
  100% {
    opacity: 0.2;
    width: 6em; height: 6em;
    margin: -3em;
    border-color: #BAE0FF;
    border-width: 0.5em;
  }
}
